/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Poiret One', cursive; background-color: lightgray;}
