.mat-form-field-wrapper {
    width: 300px;
}
.container {
  margin: auto;
  text-align: center;
  background-color: #f5f5f5;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px #000;
flex: auto;



}

button:not(.eliminar) {
  margin: 2rem 1rem;
  
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;

}



.aceptar {
  margin: 0 1rem;
  background-color: #f5f5f5;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px #000;
}

.lista-utiles {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 40%;
  margin: auto;
  text-align: left;
  background-color: #f5f5f5;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px #000;
}



