.main
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-tab-control
{
    width: 50vw;
    height: 60vh;
}