<div class="container">
    <div class="container-textInput">
        <form class="container-textInput-form">
            <div class="container-textInput-form-box">
                <mat-form-field appearance="fill">
                    <mat-label>Item</mat-label>
                    <input matInput [(ngModel)]="button1Display" autocomplete="off">
                </mat-form-field>
                <p>{{button1Display}}</p>
                <button type="button" mat-raised-button>{{ button1Display }}.</button>
            </div>
            <div class="container-textInput-form-box">
                <mat-form-field appearance="fill">
                    <mat-label>Item</mat-label>
                    <input matInput  autocomplete="off">
                </mat-form-field>
                <button mat-raised-button>{{ button2Display }}</button>
            </div>
            <div class="container-textInput-form-box">
                <mat-form-field appearance="fill">
                    <mat-label>Item</mat-label>
                    <input matInput  autocomplete="off">
                </mat-form-field>
                <button mat-raised-button>{{ button3Display }}</button>
            </div>
            <div class="container-textInput-form-box">
                <mat-form-field appearance="fill">
                    <mat-label>Item</mat-label>
                    <input matInput  autocomplete="off">
                </mat-form-field>
                <button mat-raised-button>{{ button4Display }}</button>
            </div>
            <div class="container-textInput-form-box">
                <mat-form-field appearance="fill">
                    <mat-label>Item</mat-label>
                    <input matInput  autocomplete="off">
                </mat-form-field>
                <button mat-raised-button>{{ button5Display }}</button>
            </div>
            <div class="container-textInput-form-box">
                <mat-form-field appearance="fill">
                    <mat-label>Item</mat-label>
                    <input matInput  autocomplete="off">
                </mat-form-field>
                <button mat-raised-button>{{ button6Display }}</button>
            </div>
        </form>
    </div>
    <div class="container-saveLabel">
        <label onclick="saveForm1">Guardar</label>
    </div>
</div>