.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 47vw;
    height: 50vh;
}

.container-textInput
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;
}
.container-saveLabel
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 3vh;

    width: 100%;
    height: 20%;
}

.container-saveLabel > label
{
    cursor: pointer;
}

.container-textInput-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

.container-textInput-form-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1vh;
}
mat-form-field
{
    text-align: center;
}