*{
  margin: 5px;
}

.column-izq, .column-center, .column-der{
  float: left;

background-color: #f5f5f5;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px #000;
}

.der{
  margin-left: 217px;
  background-color: #f5f5f5;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px #000;
}

.izq {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px #000;
}

.column-center{
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 10px #000;
}

button{
  margin: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #000; 
}
