<div class="container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Formulario 1"><app-formulario1></app-formulario1></mat-tab>
        <mat-tab label="Formulario 2"><app-formulario2></app-formulario2></mat-tab>
        <mat-tab label="Formulario 3"><app-formulario3></app-formulario3></mat-tab>
    </mat-tab-group>
</div>